/**
 * --- class 2
 * .card{
 *     border: 1px solid black;
 *     border-radius: 10px;
 *     box-shadow:  5px 5px 5px black;
 *     padding: 20px;
 *     margin: 10px;
 *     text-align:  center;
 *     max-width: 250px;
 *     display: inline-block;
 * }
 * 
 * .card .card-image{
 *     max-width: 60%;
 *     height: auto;
 *     border-radius: 50%;
 *     margin: 10px;
 * }
 * 
 * .card .card-title{
 *     font-family: Arial , sans-serif;
 *     margin: 0px;
 *     color: rgb(27, 141, 103);
 * 
 * }
 * 
 * .card .card-text{
 *     font-family: Arial , sans-serif;
 *     color: rgb(167, 112, 218);
 * }
 *
 * @format
 */

/*    class 3
.button{
    background-color: hsl(200 , 100% , 50%);
    color: white;
    padding: 10px 20px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
} */

/*  ---- class 4
.Student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid black;

}

.Student p{
    margin: 0;
} */

/* --- class 5
 .Welcome-mess {
  font-size: 2.5em;
  background-color: chocolate;
  color: white;
  border-radius: 5px;
  margin: 0px;
}

.login-prompt {
  font-size: 2.5em;
  background-color: rgb(17, 17, 78);
  color: red;
  border-radius: 5px;
  margin: 0px;
} */


/*  ---- class 6 
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: chocolate;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background: hsl(185, 100%, 50%);
}

.list-item{
  font-size: 2em;
  list-style: none;
  color: cornflowerblue;
  text-align: center;
  margin: 0;
}

.list-item li:hover{
  color:hsl(0, 0%, 45%) ;
  cursor: pointer;
} */



@import "tailwindcss";